# Instruções iniciais

1 - Siga as instruções de configuração do ambiente disponibilizadas no README da aula para preparar o seu sistema.

2 - Baixar este arquivo no seu computador.

3 - Utilize o ambiente virtual (venv) configurado como o kernel para este arquivo.

In [1]:
import gdown
import os

# A url do conjunto de dados que será usada na aula
url = 'https://drive.google.com/uc?id=1aosoxH9p2Jg3YwqtzQdC6UtWStSEc92G'
output = 'data/dataset.csv'

# Criação de uma pasta 
os.makedirs(os.path.dirname(output), exist_ok=True)

gdown.download(url, output, quiet=False)

Downloading...
From (original): https://drive.google.com/uc?id=1aosoxH9p2Jg3YwqtzQdC6UtWStSEc92G
From (redirected): https://drive.usercontent.google.com/download?id=1aosoxH9p2Jg3YwqtzQdC6UtWStSEc92G&confirm=t&uuid=798c5923-48b1-4fd2-878f-936d684675b2
To: c:\Users\Aluno.M57216\Downloads\Aula2\data\dataset.csv
100%|██████████| 650M/650M [01:50<00:00, 5.91MB/s]

'data/dataset.csv'

Assim podemos carregar o conjunto de dados que baixamos.

In [2]:
import pandas as pd

data = pd.read_csv('data/dataset.csv')
data

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:08,11,8000ECA90,11,8000ECA90,3.195403e+06,US Dollar,3.195403e+06,US Dollar,Reinvestment,0
1,2022/09/01 00:21,3402,80021DAD0,3402,80021DAD0,1.858960e+03,US Dollar,1.858960e+03,US Dollar,Reinvestment,0
2,2022/09/01 00:00,11,8000ECA90,1120,8006AA910,5.925710e+05,US Dollar,5.925710e+05,US Dollar,Cheque,0
3,2022/09/01 00:16,3814,8006AD080,3814,8006AD080,1.232000e+01,US Dollar,1.232000e+01,US Dollar,Reinvestment,0
4,2022/09/01 00:00,20,8006AD530,20,8006AD530,2.941560e+03,US Dollar,2.941560e+03,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...
6924044,2022/09/10 23:39,71696,81B2518F1,71528,81C0482E1,3.346900e-02,Bitcoin,3.346900e-02,Bitcoin,Bitcoin,0
6924045,2022/09/10 23:48,271241,81B567481,173457,81C0DA751,1.313000e-03,Bitcoin,1.313000e-03,Bitcoin,Bitcoin,0
6924046,2022/09/10 23:50,271241,81B567481,173457,81C0DA751,1.305800e-02,Bitcoin,1.305800e-02,Bitcoin,Bitcoin,0
6924047,2022/09/10 23:57,170558,81A2206B1,275798,81C1D5CA1,4.145370e-01,Bitcoin,4.145370e-01,Bitcoin,Bitcoin,0
6924048,2022/09/10 23:31,170558,81A2206B1,275798,81C1D5CA1,3.427700e-02,Bitcoin,3.427700e-02,Bitcoin,Bitcoin,0

AUMENTA O NUMERO DE DADOS

In [3]:
data.head(10)

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:08,11,8000ECA90,11,8000ECA90,3195403.00,US Dollar,3195403.00,US Dollar,Reinvestment,0
1,2022/09/01 00:21,3402,80021DAD0,3402,80021DAD0,1858.96,US Dollar,1858.96,US Dollar,Reinvestment,0
2,2022/09/01 00:00,11,8000ECA90,1120,8006AA910,592571.00,US Dollar,592571.00,US Dollar,Cheque,0
3,2022/09/01 00:16,3814,8006AD080,3814,8006AD080,12.32,US Dollar,12.32,US Dollar,Reinvestment,0
4,2022/09/01 00:00,20,8006AD530,20,8006AD530,2941.56,US Dollar,2941.56,US Dollar,Reinvestment,0
5,2022/09/01 00:24,12,8006ADD30,12,8006ADD30,6473.62,US Dollar,6473.62,US Dollar,Reinvestment,0
6,2022/09/01 00:17,11,800059120,1217,8006AD4E0,60562.00,US Dollar,60562.00,US Dollar,ACH,0
7,2022/09/01 00:07,11,8000ECA90,11,8000ECA90,22.97,US Dollar,22.97,US Dollar,Reinvestment,0
8,2022/09/01 00:28,1120,8006AA910,243166,81470DCF0,43.53,US Dollar,43.53,US Dollar,Credit Card,0
9,2022/09/01 00:22,1217,8006AD4E0,1217,8006AD4E0,5.04,US Dollar,5.04,US Dollar,Reinvestment,0

OLHAR OS ÚLTIMOS 10 DADOS

In [4]:
data.tail(10)

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
6924039,2022/09/10 23:53,169671,819940C41,269077,81BF380A1,0.002083,Bitcoin,0.002083,Bitcoin,Bitcoin,0
6924040,2022/09/10 23:47,219,81A237611,72360,81BF760C1,0.036126,Bitcoin,0.036126,Bitcoin,Bitcoin,0
6924041,2022/09/10 23:54,219,81A237611,72360,81BF760C1,0.007350,Bitcoin,0.007350,Bitcoin,Bitcoin,0
6924042,2022/09/10 23:40,70997,81AD76C91,73607,81C00EA71,0.032012,Bitcoin,0.032012,Bitcoin,Bitcoin,0
6924043,2022/09/10 23:45,70997,81AD76C91,73607,81C00EA71,0.150288,Bitcoin,0.150288,Bitcoin,Bitcoin,0
6924044,2022/09/10 23:39,71696,81B2518F1,71528,81C0482E1,0.033469,Bitcoin,0.033469,Bitcoin,Bitcoin,0
6924045,2022/09/10 23:48,271241,81B567481,173457,81C0DA751,0.001313,Bitcoin,0.001313,Bitcoin,Bitcoin,0
6924046,2022/09/10 23:50,271241,81B567481,173457,81C0DA751,0.013058,Bitcoin,0.013058,Bitcoin,Bitcoin,0
6924047,2022/09/10 23:57,170558,81A2206B1,275798,81C1D5CA1,0.414537,Bitcoin,0.414537,Bitcoin,Bitcoin,0
6924048,2022/09/10 23:31,170558,81A2206B1,275798,81C1D5CA1,0.034277,Bitcoin,0.034277,Bitcoin,Bitcoin,0

Mostra os tipos de dados que tem em cada coluna e outras infos

In [5]:
data.info() #metodo que faz parte do pandas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6924049 entries, 0 to 6924048
Data columns (total 11 columns):
 #   Column              Dtype
---  ------              -----
 0   Timestamp           object
 1   From Bank           int64
 2   Account             object
 3   To Bank             int64
 4   Account.1           object
 5   Amount Received     float64
 6   Receiving Currency  object
 7   Amount Paid         float64
 8   Payment Currency    object
 9   Payment Format      object
 10  Is Laundering       int64
dtypes: float64(2), int64(3), object(6)
memory usage: 581.1+ MB

Obter Informações do dataset

Verificar se existem valores Null ou NaN

Verifica se é true ou false --- data.isnull(). utilizando sum ele soma os resultados que facilita para entender

In [8]:
data.isnull() .sum()

Timestamp             0
From Bank             0
Account               0
To Bank               0
Account.1             0
Amount Received       0
Receiving Currency    0
Amount Paid           0
Payment Currency      0
Payment Format        0
Is Laundering         0
dtype: int64

na é is not a number

In [9]:
data.isna() .sum()

Timestamp             0
From Bank             0
Account               0
To Bank               0
Account.1             0
Amount Received       0
Receiving Currency    0
Amount Paid           0
Payment Currency      0
Payment Format        0
Is Laundering         0
dtype: int64

In [10]:
print(f"Soma de Null:\n{data.isnull().sum}\n\nSoma de NA:\n{data.isna().sum}")

Soma de Null:
<bound method DataFrame.sum of          Timestamp  From Bank  Account  To Bank  Account.1  Amount Received  \
0            False      False    False    False      False            False
1            False      False    False    False      False            False
2            False      False    False    False      False            False
3            False      False    False    False      False            False
4            False      False    False    False      False            False
...            ...        ...      ...      ...        ...              ...
6924044      False      False    False    False      False            False
6924045      False      False    False    False      False            False
6924046      False      False    False    False      False            False
6924047      False      False    False    False      False            False
6924048      False      False    False    False      False            False

         Receiving Currency  Amount Paid  Payment Currency  Payment Format  \
0                     False        False             False           False
1                     False        False             False           False
2                     False        False             False           False
3                     False        False             False           False
4                     False        False             False           False
...                     ...          ...               ...             ...
6924044               False        False             False           False
6924045               False        False             False           False
6924046               False        False             False           False
6924047               False        False             False           False
6924048               False        False             False           False

         Is Laundering
0                False
1                False
2                False
3                False
4                False
...                ...
6924044          False
6924045          False
6924046          False
6924047          False
6924048          False

[6924049 rows x 11 columns]>

Soma de NA:
<bound method DataFrame.sum of          Timestamp  From Bank  Account  To Bank  Account.1  Amount Received  \
0            False      False    False    False      False            False
1            False      False    False    False      False            False
2            False      False    False    False      False            False
3            False      False    False    False      False            False
4            False      False    False    False      False            False
...            ...        ...      ...      ...        ...              ...
6924044      False      False    False    False      False            False
6924045      False      False    False    False      False            False
6924046      False      False    False    False      False            False
6924047      False      False    False    False      False            False
6924048      False      False    False    False      False            False

         Receiving Currency  Amount Paid  Payment Currency  Payment Format  \
0                     False        False             False           False
1                     False        False             False           False
2                     False        False             False           False
3                     False        False             False           False
4                     False        False             False           False
...                     ...          ...               ...             ...
6924044               False        False             False           False
6924045               False        False             False           False
6924046               False        False             False           False
6924047               False        False             False           False
6924048               False        False             False           False

         Is Laundering
0                False
1                False
2                False
3                False
4                False
...                ...
6924044          False
6924045          False
6924046          False
6924047          False
6924048          False

[6924049 rows x 11 columns]>

Não existem 'dados faltantes' ou 'not a number'

Selecionando as colunas de interesse

In [11]:
received=data['Amount Received']
paid=data['Amount Paid']

In [12]:
received

0          3.195403e+06
1          1.858960e+03
2          5.925710e+05
3          1.232000e+01
4          2.941560e+03
               ...
6924044    3.346900e-02
6924045    1.313000e-03
6924046    1.305800e-02
6924047    4.145370e-01
6924048    3.427700e-02
Name: Amount Received, Length: 6924049, dtype: float64

In [13]:
paid

0          3.195403e+06
1          1.858960e+03
2          5.925710e+05
3          1.232000e+01
4          2.941560e+03
               ...
6924044    3.346900e-02
6924045    1.313000e-03
6924046    1.305800e-02
6924047    4.145370e-01
6924048    3.427700e-02
Name: Amount Paid, Length: 6924049, dtype: float64

Gerar o resumo estatísticos das colunas

In [14]:
paid.describe()
#Poderia ser recebimento

count    6.924049e+06
mean     4.676036e+06
std      1.544099e+09
min      1.000000e-06
25%      1.753800e+02
50%      1.399440e+03
75%      1.222687e+04
max      3.644854e+12
Name: Amount Paid, dtype: float64

Como fazer conversão para casas decimais?